<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>App</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddMembernm</display-name>
    <servlet-name>AddMembernm</servlet-name>
    <servlet-class>in.kannan.service.AddMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMembernm</servlet-name>
    <url-pattern>/AddMembernm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMember</display-name>
    <servlet-name>AddMember</servlet-name>
    <jsp-file>/AddMember.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMember</servlet-name>
    <url-pattern>/AddMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetMemberServlet</display-name>
    <servlet-name>ResetMemberServlet</servlet-name>
    <servlet-class>in.kannan.servlet.AddMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetMemberServlet</servlet-name>
    <url-pattern>/ResetMemberServlet</url-pattern>
  </servlet-mapping>
</web-app>